.card {
  @include trailing-border($border-style: (solid, #ccc));
}

.card__description,
.card__footer {
  @include rem(padding-right, 16px);
  @include rem(padding-left, 16px);
}

.card__description {
  @include padding-leader();
}
