.hotspot {
  align-self: flex-start;
  position: relative;
}

.hotspot__description {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 50%;
  height: 100%;
  background-color: #fff;
  // @include padding-leader();
  // @include rem(padding-right, 16px);
  // @include padding-trailer();
  // @include rem(padding-left, 16px);
}

.hotspot__description::before {
  position: absolute;
  bottom: 0;
  left: -20px;
  z-index: 1;
  display: block;
  width: 40px;
  height: 100%;
  content: "";
  background-color: #fff;
  transform: skew(-5deg, 0deg);
}

.hotspot__description .description__title {
  position: relative;
  z-index: 2;
  // @include margin-trailer();
}

.hotspot__description .description__p {
  position: relative;
  z-index: 2;
}

.hotspot__footer {
  position: relative;
  z-index: 2;
}
