@import url('https://fonts.googleapis.com/css?family=Cairo:200,300,400,600,700,900&subset=arabic');

// @import "~uppy/src/scss/uppy.scss";
// @import "~flexboxgrid-sass/flexboxgrid.scss";
// @import '';
@import "~flickity/css/flickity";

@import "zaza-ui/main";
@import "variables";

body {
  font-family: 'Cairo', sans-serif;
  overflow: hidden;
}

p, ul, ol, pre, table, blockquote {
  line-height: $default-line-height;
  text-align: justify;
}

.accordion__trigger {
  justify-content: flex-end;
  padding-left: 0 !important;
  height: 3.5rem;
  line-height: 3.5rem;

  .button__label {
    display: none;
  }

  .button__symbol--square {
    font-size: 2.375rem;
    text-align: left;
    line-height: 3.5rem;
    width: 4rem;
  }
}

.main--off-2-aside {
  .accordion__trigger {
    justify-content: unset;
    padding-left: 0 !important;

    .button__label {
      display: block;
      font-size: 1.2rem;
      line-height: 3.5rem;
      text-transform: uppercase;
    }

    .button__symbol--square {
      text-align: center;
    }
  }

  .accordion__panel p {
    margin: -0.6rem .2rem 1rem 3rem;
    text-align: justify;
  }
}
/*
#toggleAsideTrigger, #edisaNavigationLogotype {
  // display: none;
}

@media screen and (max-width: 840px) {
  #toggleEdisaTrigger {
    display: block;
  }
  #toggleAsideTrigger, #edisaNavigationLogotype {
    display: block;
  }
}
*/
.l-footer {
  height: 1.75rem;
  flex-basis: 1.75rem;

  .menu {
    justify-content: flex-end;
  }

  .menu__king {
    line-height: 1.75rem;
    font-size: .7rem;
  }
}

aside {
  -webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
  box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
}

.aside__accordion .accordion {
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px rgba(0, 0, 0, .3);
}

.content__foreground {
  padding: .5rem;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, .6);
}

.main--off-splash .foreground__splash {
  position: relative;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  height: auto;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.carousel__item {
  img {
    -webkit-filter: grayscale(20%) saturate(300%) sepia(20%); /* Safari 6.0 - 9.0 */
    filter: grayscale(20%) saturate(120%) sepia(20%);
  }
  .slogan {
    position: relative;
    margin-top: -16rem;
    padding-right: 2rem;
    blockquote {
      letter-spacing: -.1rem;
      text-align: right;
      font-weight: 900;
      text-transform: uppercase;
      font-size: 2.2rem;
      line-height: 2.1rem;
      color: #EF9A9A;
      .word {
        display: inline-block;
      }
      strong {
        font-weight: 900;
        color: #B71C1C;
        font-size: 2.6rem;
      }
      cite {
        color: #bdc3c7;
        font-size: 1.8rem;
      }
    }
  }
}

.foreground__splash--2 {
  min-height: 100%;
  .grid {
    padding: 1rem .5rem;
    .cell {
      margin: .5rem;
    }
  }
  #closeSplashTrigger {
    color: #333333;
  }
}

.controls {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: auto;
}

.petition-container {
  .grid {
    height: 100%;
    .grid__inner {
      height: 100%;

      .petition {
        position: relative;
        height: 100%;
        background-color: #fff;
        padding: 1rem;
        .form-group {
          margin: .5rem 0;
          input, textarea, label {
            line-height: 2.5rem;
            font-size: .9rem;
          }
        }
      }
    }
  }
}

.form-group {
  margin: .5rem 0;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #939393;
    line-height: 2.5rem;
    font-size: .9rem;
    option {
      color: #222222;
    }
  }
  input, textarea, label {
    line-height: 2.5rem;
    font-size: .9rem;
  }
}

.scroll-y {
  overflow-y: scroll;
}

.sworn-statement {
  height: 4rem;
  overflow-y: scroll;
}
.content {
  background-color: rgba(255, 235, 238, .4);;
}

.card, .hotspot, .petition {
  -webkit-box-shadow: 3px 0 3px rgba(0, 0, 0, .3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

#map {
  width: 100%;
  height: 100%;
}

.form-title {
  text-align: right;
}

// TODO get a solution
#edisaNavigation {
  width: auto;
  left: 0;
  right: auto;
  // z-index: 3000;
}

.petitions-cards-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  &::-webkit-scrollbar {
    width: 0;
  }
  h1, h2, h3, h4 {
    margin-bottom: 12px !important;
  }
}

#toggleAsideTrigger {
  display: none;
}

#toggleEdisaTrigger {
  display: block;
}

@media screen and (max-width: 840px) {
  #splash {
    // width: 100%;
  }

  #toggleAsideTrigger {
    display: block;
  }


  #toggleEdisaTrigger {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #splash {
    width: 100%;
  }
}

.locale-switcher {
  position: absolute;
  a {
    color: #f2f2f2;
    text-decoration: none;
    font-size: .8rem;
  }
}

.foreground__splash {
  -webkit-transform: translateY(calc(100% - 6rem));
  transform: translateY(calc(100% - 6rem));
}

.leaflet-verticalcenter {
  position: absolute;
  top: 50%; /* possible because the placeholder's parent is the map */
  transform: translateY(-50%); /* using the CSS3 Transform technique */
  padding-top: 10px;
}

.leaflet-verticalcenter .leaflet-control {
  margin-bottom: 10px;
}
