<template>
  <h1 id="heckd">Conf test</h1>
</template>

<script>
  const capp = {};

  export default capp;
</script>

<style>
  h1#heckd {
    font-family: sans-serif;
    font-size: 3.375rem;
    line-height: 4rem;
    text-align: center;
  }
</style>
