.content__foreground {
  @include padding-leader(4);
}

.foreground__splash {
  @include padding-leader();
  @include rem(padding-right, 16px);
  @include padding-trailer();
  @include rem(padding-left, 16px);
}

.foreground__splash--p-0 {
  padding: 0;
}
