.foreground__splash {
  margin: 0 auto;
}

.foreground__splash--2 {
  @include breakpoint("large") {
    margin-left: auto;
    @include rem(margin-right, 16px);
  }
}

.splash__button--up {
  margin: auto;
}

.section__heading {
  @include margin-leader(0);
  @include margin-trailer(0);
}
