.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: map_get(map_get($z, "modal"), "overlay");
  display: none;
  background-color: rgba(#000, 0.6);
}

.modal__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.modal__self {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80%;
  // margin: auto;
  background-color: #fff;
  // @include padding-leader();
  // @include rem(padding-right, 16px);
  // @include padding-trailer();
  // @include rem(padding-left, 16px);
}

.modal__button {
  position: absolute;
  top: 0;
  right: 0;
}
