/* stylelint-disable selector-max-type */
body {
  margin: auto;
}

@each $tag, $v, $leader, $trailer in $typography {
  #{$tag} {
    @if type_of($leader) == "number" {
      @include margin-leader($leader);
    }
    @if type_of($trailer) == "number" {
      @include margin-trailer($trailer);
    }
  }
}

ul,
ol {
  & & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

hr {
  margin: 0;
}
/* stylelint-enable selector-max-type */
