.grid {
  margin: 0 auto;
}

.grid__inner {
  @include rem(margin-top, rhythm() / -2);
  @include rem(margin-right, -8px);
  @include rem(margin-bottom, rhythm() / -2);
  @include rem(margin-left, -8px);
}

.cell {
  @include rem(margin-top, rhythm() / 2);
  @include rem(margin-right, 8px);
  @include rem(margin-bottom, rhythm() / 2);
  @include rem(margin-left, 8px);
}
