<template>
    <div class="content__background">
        <carousel/>
    </div>
</template>

<script>
    import Carousel from './Carousel.vue'

    export default {
        components: {Carousel},
    }
</script>
